::-moz-selection {
  background-color: #06cae4;
  color: #f8f8f8;
}

::-o-selection {
  background-color: #06cae4;
  color: #f8f8f8;
}

::selection {
  background-color: #06cae4;
  color: #f8f8f8;
}

.site-header {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header nav {
  margin: 0;
}

.site-header ul {
  margin: 0;
  padding: 10px;
}

.site-header li,
.site-header a {
  color: #e7e5e1;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.site-header li {
  margin-left: 150px;
}

.site-header .fas {
  vertical-align: middle;
}

.site-header a:hover, .site-header a:focus,
.site-header .fas:hover,
.site-header .fas:focus {
  color: #aaaaaa;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  text-decoration: overline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: url(/auto3.jpg) no-repeat center center fixed;
  background-size: cover;
}

/*   * {
      outline: 1px solid white;
  }  */
main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 100px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.8125em;
  color: #f7b300;
  text-transform: uppercase;
  margin-bottom: 0;
}

.logo h1 {
  text-shadow: -1px 1px 0px #ab7c00;
}

.phone h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  color: #d00000;
  text-transform: uppercase;
  text-shadow: -1px 1px 0px #840000;
}

.phone a {
  color: #d00000;
  font-size: 1.75em;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

h2 {
  margin-left: 100px;
  color: #f7b300;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.servis,
.odtahovka,
.contact,
.form {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1.5;
}

.servis li,
.servis a,
.odtahovka li,
.odtahovka a,
.contact li,
.contact a,
.form li,
.form a {
  color: #e7e5e1;
  text-decoration: none;
  list-style: none;
}

.servis li,
.odtahovka li,
.contact li,
.form li {
  display: block;
}

.servis .list,
.odtahovka .list,
.contact .list,
.form .list {
  margin: 20px;
}

.servis .fas,
.odtahovka .fas,
.contact .fas,
.form .fas {
  vertical-align: middle;
}

.servis .fas,
.odtahovka .fas,
.contact .fas,
.form .fas {
  color: #f7b300;
}

.servis .fas:hover, .servis .fas:focus,
.odtahovka .fas:hover,
.odtahovka .fas:focus,
.contact .fas:hover,
.contact .fas:focus,
.form .fas:hover,
.form .fas:focus {
  color: #aaaaaa;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}

@media (max-width: 640px) {
  main {
    font-size: 85%;
  }
  main h2 br {
    display: none;
  }
  .content {
    padding-top: 3.75em;
    padding-bottom: 3.75em;
  }
}

.form {
  text-align: left;
  color: white;
}

.form label {
  font-size: 1.0625em;
  display: inline-block;
  margin-bottom: 1.375em;
}

.form .btn {
  font-size: 85%;
  margin-top: 0;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

input,
textarea {
  color: #fff;
  font-size: 0.875em;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  border: 2px solid rgba(236, 216, 216, 0.1);
  background-color: rgba(155, 151, 151, 0.411);
  outline: none;
  padding: 0.625em;
  margin-top: 0.375em;
  display: inline-block;
  max-width: 100%;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: rgba(247, 179, 0, 0.5);
}

.site-footer {
  padding: 1.875em 0;
  color: #8c95ad;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.625em;
}

.site-footer a, .site-footer span {
  color: rgba(140, 149, 173, 0.5);
}

.site-footer a {
  border-bottom: 1px solid #434a5d;
}

.site-footer span {
  padding-left: 250px;
}
/*# sourceMappingURL=style.css.map */