.site-header {
  margin: 0 auto;
  font-family: $font-family-serif;
  font-size: em(12, 16);

  max-width: 1100px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  nav {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 10px;
  }

  li,
  a {
    color: $color-icon;
    text-decoration: none;
    list-style: none;
    display: inline-block;
  }

  li {
    margin-left: 150px;
    //padding-left: 50px;
    
  }

  .fas {
    vertical-align: middle;
  }

  a,
  .fas {
    &:hover,
    &:focus {
      color: lighten($color-muted, 20%);
      transition: 0.25s all ease-in-out;
      text-decoration: overline;
    }
  }
}

